aiohttp
asyncpg
nest_asyncio
dotenv
fuzzywuzzy
langchain-google-genai
langchain
pandas
plotly
pymongo
scipy
streamlit
streamlit-aggrid
streamlit-searchbox
sqlalchemy
requests
tavily-python
tqdm
xlsxwriter
apache-airflow-providers-mongo